

.catalog_product{
  height: 580px;
  width: 95%;
  margin: auto;
  padding-top: 60px;
  text-align: center;      
  margin-top: 25px;
}

.catalog_product:hover{
   box-shadow:  0  0  25px rgba(0,0,0,0.2);    
   transition: all 0.2s;    
}


.catalog_product_img{
  position: relative;
left: 0;
right: 0;
width: 100%;
margin: 0 auto;
}

.catalog_img{

}


.fedb_button_catalog{
  position: relative;
  color: #FFFFFF;
  background-color: #FF2A8C;
  padding-top: 15px;
  padding-bottom: 20px;
  padding-left: 23px;
  padding-right: 23px;
  font-size: 12px;
  width: 130px;
  text-transform: uppercase;
  border-radius: 7px;
  margin: 0 auto;
  text-align: center;
  height: 50px;
  margin-bottom: -55px;
  z-index: 0;

 
}

  .fedb_button_catalog:hover{
    background-color: #FF4FA1;
    cursor: pointer;

    
  }

  .fedb_button_catalog:focus{
    background-color: #EF1E76;
    
  }


.category_name{
  font-size: 20px;
  color: #000;
  margin-top: 55px;
  margin-bottom: 5px;
}


.category_description{
  font-size: 14px;
  color: #B9B9B9;
  margin-bottom: 15px;
}

.catalog_price{
position: relative;
background-color: white;
height: 60px;
padding-top: 20px;
 transition: all 0s;
 font-size: 26px;
 color: #FF2A8C;  
}


.mbot_catalog{
  margin-bottom: 50px;
}


.catalog_category{
font-size: 16px;
position: relative;
width: 500px;
height: 50px;
}

.catalog_categorys{
position: relative;
float: left;
margin-right: 30px;
color: #000;
}

.catalog_categorys2{

margin-right: 0px;

}



.catalog_category_activ{
position: relative;
float: left;
margin-right: 30px;
color: #FF2A8C;
}



.catalog_category_activ::after{
 content: "";
position: relative;
display: block;
height: 5px;
width: 100%;
margin-top: 5px;
left: 0;
top: 0;
background-color: #FF2A8C;
}

.catalog_category_hover:hover{
position: relative;
float: left;
margin-right: 30px;
color: #FF2A8C;
}



.catalog_category_hover:hover::after{
 content: "";
position: relative;
display: block;
height: 5px;
width: 100%;
margin-top: 5px;
left: 0;
top: 0;
background-color: #FF2A8C;
}


.category_name::before{
 content: "";
position: relative;
display: block;
height: 5px;
width: 30px;
margin: 0 auto;
margin-bottom: 20px;
background-color: #FF2A8C;
}


  @media screen and (max-width: 1199px) {

.catalog_product{
  height: 950px;
  width: 95%;
  margin: auto;
  padding-top: 60px;
  text-align: center;      
  margin-top: 25px;
  position: relative;
  overflow: hidden;
}

.catalog_product_img{
  position: relative;
left: 0;
right: 0;
width: 100%;
margin: 0 auto;
height: 590px;
overflow: hidden;
}

.catalog_img{

width: 75%;
position: relative;
overflow: hidden;

}

.category_name{
  font-size: 36px;
  color: #000;
  margin-top: 55px;
  margin-bottom: 15px;
}


.category_description{
  font-size: 26px;
  color: #B9B9B9;
  margin-bottom: 20px;
}

.catalog_price{
position: relative;
background-color: white;
height: 60px;
padding-top: 20px;
 transition: all 0s;
 font-size: 38px;
 color: #FF2A8C;  
}

.fedb_button_catalog{
  position: relative;
  color: #FFFFFF;
  background-color: #FF2A8C;
  padding-top: 15px;
  padding-bottom: 20px;
  padding-left: 23px;
  padding-right: 23px;
  font-size: 26px;
  width: 250px;
  text-transform: uppercase;
  border-radius: 7px;
  margin: 0 auto;
  text-align: center;
  height: 50px;
  margin-bottom: -55px;
  z-index: 0;

 
}



        }