
	.clear
{
	clear: both;
	float: none;
}	

	.feedback{

	display: none;
	justify-content: center;
	align-items: center;
	background-color: green;
	height: 100%;
	width: 100%;
	position: fixed;
	z-index: 10;	
	overflow-x: hidden;

}

.feedb{
background-color: transparent;
border: 0px solid transparent;
box-shadow: none;
border-bottom: 2px solid #DEE0E5;
width: 264px;
}


.feedb::selection{ 
background-color: transparent;
cursor: pointer;

}


.feedb{
background-color: transparent;
}


.light{
	font-family: "Roboto";
	font-weight: 300;
}


.uper{
text-transform: uppercase;
}


.fullpage{
	font-family: 'Roboto';
font-weight: 400;

background-color: green;
width: 100%;
min-width: 100%;


overflow: hidden;
}

.companyname::selection {
background: transparent; /* Safari */
cursor: default;
}

.advantag::selection {
background: transparent; /* Safari */
cursor: default;
}
.iconsslid::selection {
background: transparent; /* Safari */
cursor: default;
}
span::selection {
background: transparent; /* Safari */
cursor: default;
}	
 
span:hover{
 	cursor: default;
 }

 img::selection {
background: transparent; /* Safari */
cursor: default;
}	
 button::selection {
background: transparent; /* Safari */
cursor: pointer !important;
}	

a:hover{
	cursor: pointer;
}





/*    header    */





/*    slider    */

.cbp-fwslider {
	position: relative;
	margin: 0 0 0px;
	overflow: hidden;
	padding: 0px 0 60px;
}



.cbp-fwslider ul {
	margin: 0;
	padding: 0;
	white-space: nowrap;
	list-style-type: none;
	width: 100%;
}

.cbp-fwslider ul li {
	-webkit-transform: translateZ(0);
	-moz-transform: translateZ(0);
	transform: translateZ(0);
	float: left;
	display: flex;
	margin: 0;
	padding: 0;
	justify-content: center;
	align-items: center;
}

.cbp-fwslider ul li > a,
.cbp-fwslider ul li > div {
	text-align: left;
	outline: none;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
}

.contein{
	width: 80%;
	max-width: 1200px;
	min-width: 800px;
	margin: 0 auto;
}



.cbp-fwslider ul li > a img {
	position: absolute;
	border: none;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 auto;
	width: 100%;


}



.cbp-fwslider nav span {
	position: absolute;
	top: 50%;
	width: 50px;
	height: 100px;
	background: transparent;
	color: #556373;
	font-size: 50px;
	text-align: center;
	margin-top: -50px;
	line-height: 100px;
	cursor: pointer;
	font-weight: normal;

}

.cbp-fwslider nav span:hover {
	background: transparent;
	opacity: 0.9;
}

.cbp-fwslider nav span::selection {
background: transparent; /* Safari */
}
::-moz-selection {
background: transparent; /* Firefox */
}
.cbp-fwslider nav span.cbp-fwnext {
	right: 0px;
}

.cbp-fwslider nav span.cbp-fwprev {
	left: 0px;
}

.cbp-fwdots {
	position: absolute;
	bottom: 0px;
	white-space: nowrap;
	text-align: center;
	width: 100%;

}

.cbp-fwdots span {
	display: none;
	width: 18px;
	height: 18px;
	background: #ddd;
	margin: 4px;
	border-radius: 50%;
	cursor: pointer;
}

.cbp-fwdots span:hover {
	background: #999;
}

.cbp-fwdots span.cbp-fwcurrent {
	background: #47a3da;
	box-shadow: 0 0 0 2px #47a3da;
	-webkit-transition: box-shadow 0.2s ease-in-out;
	-moz-transition: box-shadow 0.2s ease-in-out;
	transition: box-shadow 0.2s ease-in-out;
}

.sliderimg1, .sliderimg2, .sliderimg3, .sliderimg4, .sliderimg5{
	background-image: url('../images/1.jpg');
	display: inline-block;
	background-repeat: no-repeat;
	background-position: center;
	width: 100%;
	max-height: 970px;
	min-height: 968px;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;

}

.playicon{
	margin-left: 10px;
}

.companyname{
font-family: 'Roboto';
font-size: 3.4em;
color: #fff;
line-height: 120%;
font-weight: 700;
text-align: left;
margin-bottom: 70px;

}

.companyname:hover{
	cursor: default;
}


.specbudban{
color: #18C99D;

}

.specbudban:after{
content: "";
background-color: #18C99D;
position: absolute;
margin-top: 58px;
margin-left: -250px;
width: 250px;
height: 3px;
}

.buduiban:after{
content: "";
background-color: #fff;
position: absolute;
margin-top: 62px;
margin-left: -527px;
width: 527px;
height: 3px;
margin-bottom: 100px;	
}



.buts{
background-color: transparent;
border: 1px solid #fff;
color: #fff;
font-size: 14px;
padding: 0.71em 0.58em 0.7em 0.58em;
left: 0;
}

.buts:hover{
border: 1px solid #18C99D;
background-color: #18C99D;

}





.buts, .btnmove:hover{
cursor: pointer;
}

.btnmove:hover{
background-color: #fff;
color: #000;
}

button{
	outline:none;
}

.btnmove{
background-color: #18C99D;
border: 0px solid #fff;
color: #fff;
font-size: 14px;
padding: 0.71em 0.88em 0.7em 0.88em;
margin-left: 1.6em;
}

.btnsban{
text-align: left;
}






}



/*    slider    */




/* меню */
	



.nav {
	margin: 20px 0;

}
.nav ul {
	margin: 0;
	padding: 0;
	min-height: 10px;
}
.nav li {
	margin: 0 5px 10px 0;
	padding: 0;
	list-style: none;
	display: inline-block;
	*display:inline; /* ie7 */

}
.nav a {
	padding: 3px 12px;
	text-decoration: none;
	color: #999;
	line-height: 100%;

}
.nav a:hover {
	color: #000;
}
.nav .current a {
	background: #999;
	color: #fff;
	border-radius: 3px;
}







@media (min-width: 1000px) {
.wrapper1{
	display:none;
	
}

.menubuts{
	display: none;
}

/*    menu    */
.menu{
    width: 100%;
    overflow: hidden;
    border-top: 4px solid #f34949;
    padding-bottom: 100px;
}

.menu .menu_title{
    text-align: center;
    margin-bottom: 80px;
}

.menu .menu_title h2{
    display: inline-block;
    margin: 0;
    padding: 20px 25px 35px 25px;
    background: url('../img/ribbon.svg') no-repeat;
    background-position: 50% 0;

    color: #fff;

    font-size: 20px;
    font-weight: bold;
}


.menu article{
    width: 490px;
}

.menu .mean_menu{
    overflow: hidden;
}

.menu .hidden_items{
    display: none;
    overflow: hidden;
}

.menu article.lmenu{
    float: left;
}

.menu article.rmenu{
    float: right;
}

.menu article ul{
    overflow: hidden;
    list-style: none;    
}

.menu article ul li{
    display: block;
    width: 100%;
    overflow: hidden;
    margin-bottom: 60px;
    position: relative;
}

.menu article ul li .item_info{
    display: inline-block;
    float: left;
}

.menu article ul li h3{
    color: #545454;
    font-family: "aleo-regular", arial;
    font-size: 16px;
    margin: 0;
    background: #fff;
    padding: 0 40px 10px 0;
    letter-spacing: .5px;
    font-weight: normal;
}

.menu article ul li .item_desc{
    color: #b7b7b7;
    font-family: "aleo-italic", arial;
    font-size: 12px;
    font-style: italic;
    letter-spacing: 1px;
    font-weight: lighter;
}

.menu article ul li .price{
    float: right;
    color: #555;
    font-family: "aleo-regular", arial;
    font-size: 16px;
    letter-spacing: .5px;
    padding: 0 0 30px 40px;
    background: #fff;
    margin: 0;
    font-weight: normal;
}

.menu article ul li .separator{
    width: 100%;
    height: 1px;
    background: #e3e1e1;
    position: absolute;
    top: 10px;
    border: 0;
    z-index: -1;
}

.menu .load-more{
    display: block;
    text-align: center;
}

.menu .load-more a{
    text-decoration: none;
    display: inline-block;
    color: #b7b7b7;
    margin-top: 30px; 
    padding: 10px 15px;
    border: 1px solid #d7d5d5;

    color: #b7b7b7;
    font-family: "aleo-regular", arial;
    font-size: 14px;
    letter-spacing: 1px;
}

.menu .load-more a hr{
    width: 1px;
    height: 12px;
    border: 0;
    background: #b7b7b7;
    display: inline-block;
    margin: 0 9px -1px 7px;
}

.menu .load-more a .bottom_arrow,
.menu .load-more a .top_arrow{
    display: inline-block;
    width: 11px;
    height: 7px;
    background-repeat: repeat-y;
    margin-bottom: 1px;
}

.menu .load-more a .bottom_arrow{    
    background: url('../img/bottom_arrow.png');
}

.menu .load-more a .top_arrow{    
    background: url('../img/top_arrow.png');
}

.wrapper{
	display: flex;
	max-width: 1200px;
	margin: 0 auto;
	position: relative;
	z-index: 2;
	background-color: transparent;
	margin-bottom: -105px;
}

.wrapper nav{
	width: 100%;
}

header {
	position: relative;
	z-index: 10;
}

.wrapper .logo{
    float: left;
    margin-top: 40px;
}

.wrapper nav{
    float: right;
}

.wrapper nav ul{
    list-style: none;
    margin-top: 50px;
        float: right;
}

.wrapper nav ul li{
    display: block;
    float: left;
    margin-left: 30px;
}

.wrapper nav ul li a{
    text-decoration: none;
    color: #fff;
    font-family: "aleo-regular", arial;
    font-size: 14px;
    letter-spacing: .5px;
    padding-bottom: 10px;
}

.wrapper nav ul li a.active,
.wrapper nav ul li a:hover{
    color: #00CA9C;
    border-bottom: 2px solid #00CA9C;
}

}


@media (max-width: 1000px) {


.sliderimg1, .sliderimg2, .sliderimg3, .sliderimg4, .sliderimg5{
	width: 100%;
	max-height: 670px;
	min-height: 668px;
}

.cbp-fwslider ul li > a,
.cbp-fwslider ul li > div {
	text-align: left;
	outline: none;
	display: flex;
	justify-content: center;
	align-items: top;
	width: 100%;


}





.wrapper1{
	display:none;
	background-color: green;
	height: 100%;
	width: 100%;
	position: fixed;
	z-index: 10;	
}

.wrapper{
	display: none;
	background-color: transparent;
}


.menubuts{
	display: flex;
	justify-content: center;
	align-items: center;
width: 56px;
height: 56px;
border-radius: 50%;
position: fixed;
z-index: 10;
background-color: #fff;
top: 20px;
right: 2%;
color: #000;
opacity: .5;

}

.menubuts:hover{
	opacity: .9;
	cursor: pointer;
}




}

.displ{
	display:flex;
}



.vasyok{
	width: 100%;
	height: 115px;
	background-color: rgba( 150,162,173,0.32);
	position: relative;
	margin-top: -174px;
		opacity: 1;
z-index: 3;
position: relative;
display: flex;
justify-content: center;
align-items: center;
}

.vasyochek{
	margin: 0 auto;
}


.advantag{
	color: #fff;
	float: left;
	text-align: center;
	border-right: 1px solid white;
	padding-left: 62px;
	padding-right: 55px;
	height: 80px;
	text-transform: uppercase;
	font-size: 13.6px;

}

#adv1{
	padding-left: 0px;
}
.logot{
	background-color: transparent;
	display: block;
	cursor: pointer;
	opacity: 0.94;
}

.logot:hover{
	background-color: transparent;
	cursor: pointer!important;
	opacity: 1;
}

.iconsslid{
	color: #18C99D;
	margin-top: 7px;
	margin-bottom: 13px;
}

.advantaglast{
	border-right: 0px solid white;
	padding-right: 0px;
}


.aboutcompany{
	max-width: 830px;
	margin: 145px auto;
	text-align: center;
}

.aboutcompany1{
	font-size: 11px;
	color: #656B73;
}

.fullpage{
font-family: 'Roboto', sans-serif;
font-weight: 400;

}

.bold{
font-family: 'Roboto';
font-weight: 700;
}

.aboutcompany2{
	font-size: 22.5px;
	margin-top: -5px;
	margin-bottom: 20px;
}


.aboutcompany3{
	color: #656B73;
}

.aboutcompanybut{
	color: #000;
	border-color: #000;
	margin-top: 50px;
	padding-left: 12px;
	padding-right: 12px;
	padding-top: 7px;
	padding-bottom: 7px;
	font-size: 15px;
}


.aboutcompanybut:hover{
	color: #fff;
	border-color: #9FA7B1;
	background-color: #9FA7B1;
}

.whywe{
	background-image: url('../images/whywe.jpg');
	display: flex;
	background-repeat: no-repeat;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	width: 100%;
	min-height: 790px;
	align-items: center;

}

.whyweleft{
	display: flex;
	background-color: rgba( 2,21,46,0.85);
	min-height: 790px;
	width: 52%;
	justify-content: flex-end;

}

.whyweright{
	display: flex;
	background-color: rgba( 255, 255, 255, 0.95);
	min-height: 650px;
	width: 100%;
	min-width: 700px;
	max-width: 760px;
	padding-left: 120px;
	padding-top: 120px;
	margin-top: 25px;


}

.whywelefttext{
	display: block;
	width: 460px;
	padding-right: 50px;
	color: #fff;
	padding-top: 198px;

}

.whywetitle{
	color: #18C99D;
	font-size: 24px;
	margin-left: 0px;
	margin-bottom: 5px;
}

.whywetitle:after{
	content: "";
	width: 85px;
	display: flex;
	height: 1px;
	background-color: #18C99D;
	margin-top: 40px;
}

.whywerighttext{
	display: block;
	width: 600px;
}


.whywerighttext1{
	display: block;
	width: 224px;
	height: 140px;
	float: left;
}

.whywerighttext2{
margin-left: 15%;
}

.whywerighttext3{
margin-top: 15%;
}

.whywerighttext4{
margin-left: 15%;
margin-top: 15%;
}


.whywheicon1{
	color: #18C99D;
	margin-bottom: 20px;
}

.whywefirsttitle{
	font-size: 17px;
	padding-left: 0px;
	margin-bottom: 17px;
}

.whywefirsttitle:after{
	content: "";
	width: 85px;
	display: flex;
	height: 1px;
	background-color: #18C99D;
	margin-top: 11px;
	margin-left: 0px;

}

.howwework{
max-width: 1200px;
min-width: 800px;
position: relative;
margin: 0 auto;
background-color: transparent;
margin-top: 150px;
margin-bottom: 150px;

}


.howweworkleft{
	background-image: url('../images/video2.jpg');
	display: inline-block;
	background-repeat: no-repeat;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
width: 580px;
height: 340px;
float: left;
margin-right: 55px;
}

.howweworkright{
padding-top: 65px;
padding-right: 15px;


}

.howweworkrighttitle{
font-size: 22px;

}

.howweworkrighttitle:before{
	content: "";
	width: 40px;
	height: 2px;
	background-color: #C8D0D7;
	position: absolute;
	margin-top: -30px;


}

.howweworkrighttext{
color: #636B74;
margin-top: 25px;

}


/*   */



.projectdevelopment{
	background-image: url('../images/project.jpg');
	display: flex;
	background-repeat: no-repeat;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	width: 100%;
	min-height: 790px;
	align-items: center;
	position: relative;

}

.projectdevelopmentleft{
	display: flex;
	background-color: rgba( 2,21,46,0.85);
	min-height: 790px;
	width: 100%;
	margin-left: 0;
	justify-content: flex-start;
	padding-left: 100px;


}

.projectdevelopmentright{
	background-image: url('../images/1.png');
	display: flex;
	background-repeat: no-repeat;
	background-position: center;
	background-repeat: no-repeat;
	background-position: center-right;
	display: flex;
	background-color: rgba( 255, 255, 255, 0.95);
	min-height: 650px;
	width: 100%;
	max-width: 800px;
	padding-left: 0px;
	padding-top: 100px;
	padding-right: 40px;
	padding-left: 20px;
	right: 0;
	float: right;
	justify-content: flex-end;



}

.projecticon{
	font-size: 18.5px;
	position: relative;
	color: #fff;
	z-index: 5;

}

.projecticon:after{
	content: "";
	width: 28px;
	height: 28px;
	border-radius: 50%;
	position: absolute;
	background-color: #00CA9C;
	margin-left: -19px;
	z-index: -1;

}

.project2{
margin-left: 25%;
margin-top: 5%;
}

.project3{
margin-top: 27%;
}

.project4{
margin-top: 32%;
margin-left: 20%;
}


.blocksheader{
height: 245px;
background-color: #F6F9FF;
text-align: center;
padding-top: 103px;
}

.specb{
color: #C3CBD3;
font-size: 15px;
}

.specb:after{
content: "";
position: absolute;
height: 2px;
width: 65px;
margin-left: -65px;
margin-top: 30px;
background-color: #C3CBD3;
}



.blockheader{
text-transform: uppercase;
font-size: 28px;
margin-top: 10px;
}






/* tabs */

#tab2, #tab3 {position: fixed; }

.menu1 > a,
.menu1 #tab2:target ~ a:nth-of-type(1),
.menu1 #tab3:target ~ a:nth-of-type(1),
.menu1 > div { padding-right: 10px; border: 0px solid #aaa;}

.menu1 > a { line-height: 28px; color: #D2D8DC; text-decoration: none; }

.menu1 > a:hover { color: #fff; text-decoration: none; }
.menu1 > a:target { color: #fff; text-decoration: none; }
.menu1 > a:focus { color: #fff; text-decoration: none; }

#tab2,
#tab3,
.menu1 > div,
.menu1 #tab2:target ~ div:nth-of-type(1),
.menu1 #tab3:target ~ div:nth-of-type(1) {display: none; }

.menu1 > div:nth-of-type(1),
.menu1 #tab2:target ~ div:nth-of-type(2),
.menu1 #tab3:target ~ div:nth-of-type(3) { display: block; }

.menu1 #tab1:target ~ a:nth-of-type(1),
.menu1 #tab2:target ~ a:nth-of-type(2),
.menu1 #tab3:target ~ a:nth-of-type(3) { border-bottom: 0px solid #fff; }




.menu1{ 
background-color: #909CA8;
text-align: center;
}

.tabsss{ 
text-align: left;
background-color: #FFFFFF;
border-radius: 10px solid white;
padding: 0px;
margin-top: 0px;
}


		/* first tab */


.tabsbg{ 
	background-image: url('../images/11.jpg');
	display: inline-block;
	background-repeat: no-repeat;
	background-position: center;
	width: 46%;
	min-height: 500px;
	max-height: 550px;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	padding-top: 0px;
	margin-top: 0px;
	float: left;
}

.tabblock{ 
max-width: 600px;
background-color: transparent;
float: left;
margin-left: 4%;
margin-top: 70px;
}

.tabicon:after{ 
content: "";
position: absolute;
height: 2px;
width: 50px;
margin-left: -35px;
margin-top: 70px;
background-color: #00CA9C;
}

.servicestitle{ 
margin-top: 30px;
margin-bottom: 50px;
font-size: 19px;
}


.servicestext{ 
margin-top: 30px;
margin-bottom: 50px;
font-size: 14px;
color: #8E939A;
}

.tabbut{ 
margin-top: 0px;

}

.tabbs{ 
font-size: 13px;

}

.map, .contactstext, .tabbs::selection{ 
background-color: transparent;
cursor: pointer;

}

iframe::selection{ 
background-color: transparent;
cursor: pointer;

}
iframe{
width: 560px;
 height: 175px;
}

.contactstext::selection{ 
background-color: transparent;
cursor: pointer;

}

.name::selection{ 
background-color: transparent;
cursor: pointer;

}



			/* end first tab */
 
	/* end tabs */




		/* PRICE-LIST */


.pricelist{ 
	background-image: url('../images/price.jpg');
	display: inline-block;
	background-repeat: no-repeat;
	background-position: center;
	width: 100%;
	min-height: 780px;
	max-height: 850px;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}


		/* END PRICE-LIST */




			/* GALLERY */


.grid {
	position: relative;
	margin: 0 auto;
	padding: 0px;
	width: 100%;
	max-width: 1900px;
	list-style: none;
	text-align: center;
	display: flex;
	justify-content: center;
}

/* Common style */
.grid figure {
	position: relative;
	float: left;
	overflow: hidden;
	margin: 1px;
	max-width: 25%;
	min-width: 320px;
	max-height: 360px;
	width: 100%;
	text-align: center;
	cursor: pointer;
	margin: 1px auto;

}

.grid figure img {
	position: relative;
	display: block;
	min-height: 100%;
	max-width: 100%;
	opacity: 1;
}

.grid figure figcaption {
	padding: 2em;
	color: #fff;
	text-transform: uppercase;
	font-size: 1.25em;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

.grid figure figcaption::before,
.grid figure figcaption::after {
	pointer-events: none;
}

.grid figure figcaption,
.grid figure figcaption > a {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

/* Anchor will cover the whole item by default */
/* For some effects it will show as a button */
.grid figure figcaption > a {
	z-index: 1000;
	text-indent: 200%;
	white-space: nowrap;
	font-size: 0;
	opacity: 0;
}

.grid figure h2 {
	word-spacing: -0.15em;
	font-weight: 300;
}

.grid figure h2 span {
	font-weight: 800;
}

.grid figure h2,
.grid figure p {
	margin: 0;
}

.grid figure p {
	letter-spacing: 1px;
	font-size: 68.5%;
}








figure.effect-oscar img {
	opacity: 0.9;
	-webkit-transition: opacity 0.35s;
	transition: opacity 0.35s;
}

figure.effect-oscar figcaption {
	padding: 3em;
	background-color: rgba(58,52,42,0);
	-webkit-transition: background-color 0.35s;
	transition: background-color 0.35s;

}

figure.effect-oscar figcaption::before {
	position: absolute;
	top: 30px;
	right: 30px;
	bottom: 30px;
	left: 30px;
	background-color: rgba(2,21,46,0.85);
	content: '';
}

figure.effect-oscar h2 {
	margin: 20% 0 10px 0;
	-webkit-transition: -webkit-transform 0.35s;
	transition: transform 0.35s;
	-webkit-transform: translate3d(0,100%,0);
	transform: translate3d(0,250%,0);
}

figure.effect-oscar figcaption::before,
figure.effect-oscar p {
	opacity: 0;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: scale(0);
	transform: scale(0);
}

figure.effect-oscar:hover h2 {
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

figure.effect-oscar:hover figcaption::before,
figure.effect-oscar:hover p {
	opacity: 1;
	-webkit-transform: scale(1);
	transform: scale(1);
}



figure.effect-oscar:hover img {
	opacity: 1;
}





.logogal{

	background-color: transparent;
	display: block;
	cursor: pointer;
	opacity: 1;
	width: 110px;
	margin: 0 auto;
	margin-bottom: 40px;
	margin-top: -40px;
	opacity: 0;
}

.logogal:hover{
	background-color: transparent;
	cursor: pointer!important;
	opacity: 1;
}


figure.effect-oscar:hover .logogal {
	opacity: 1;
}


.gallerybefore{

font-size: 18px;

}

.gallerybefore:before{

content: "";
position: absolute;
height: 2px;
width: 70px;
margin-left: 65px;
margin-top: -20px;
background-color: #818C9A;

}

.gallerygreen{
color: #18C99D;
font-size: 12px;
}




		  /* END GALLERY */



		  	/* reviews */
.reviews{


background-color: transparent;
margin: 0 auto;
width: 100%;
min-width: 600px;
display: flex;
justify-content: center;
align-items: center;
}

.review{
margin: 0 auto;
margin-bottom: 150px;
margin-top: 175px;
width: 50%;
min-width: 675px;
background-color: transparent;
}


.reviewsbut
{
margin: 0 auto;
width: 679px;
background-color: transparent;
}

.reviewbut{
margin: 0 auto;
margin-left: 190px;
margin-top: 45px;
}




.reviewsleft{
width: 105px;
height: 105px;
background-color: transparent;
position: relative;
float: left;
}

.reviewsimg{
width: 100px;
height: 100px;
border-radius: 50%;
border: 2px solid #929BA6;
background-color: white;
display: flex;
justify-content: center;
align-items: center;
position: relative;
float: left;
overflow: hidden;
}

.reviewsright{
margin-left: 85px;
max-width: 489px;
}

.reviewsright:before{
content: "";
position: absolute;
height: 2px;
width: 40px;
margin-left: 0px;
margin-top: -25px;
background-color: #818C9A;
}


.reviewstitle{
font-size: 20px;
}

.reviewstext{
margin-top: 30px;
font-size: 12px;
color: #656B73;
}

.reviewsname{
margin-top: 20px;
font-size: 14px;
}

.reviewsposition{
margin-top: 2px;
font-size: 12px;
color: #656B73;
}




			/* END reviews */




			/* contacts */
.blocksheadercontacts{
	width: 1150px;
	margin: 0 auto;
	text-align: left;

}

.blocksheadercontact{
	text-align: left;
}

.contact{
	background-color: #F7F9FF;
	width: 100%;
	min-height: 710px;
	padding-bottom: 50px;
}

.contactstitle{
	font-size: 16px;
}

.contactstext{
	font-size: 14px;
	color: #656B73;
}

.contactsleft{
position: relative;
float: left;
margin-right: 30px;
}



.adress{
position: relative;
float: left;
width: 150px;
margin-right: 150px;
margin-top: 25px;

}

.socials{
position: relative;
float: left;
width: 150px;
margin-top: 25px;
}

.socialss{
display: flex;
align-items: center;
margin-bottom: 13px;

}

.socialshref:hover .soc:after{
background-color: #18C99D;
}





.soc{
position: relative;
z-index: 2;
color: #F7F9FF;
float: left;
margin-right: 25px;
margin-top: 2px;
}

.soc:after{
content: "";
position: absolute;
height: 25px;
width: 25px;
margin-left: -16px;
margin-top: -6px;
border-radius: 50%;
background-color: #98A1AB;
z-index: -1;
}

.soc2:after{
margin-left: -19.5px;
margin-top: -4.5px;
}

.socialstext{
color: #656B73;
text-decoration: none;
position: relative;
float: left;
margin-top: -2px;
}

.socialstext:hover{
cursor: pointer;
text-decoration: none;
}


.socialshref:hover{
text-decoration: none;
}

.maptitle{
margin-bottom: 27px;
}

.adresubk{
margin-top: 13px;
}


.contactstext2{
margin-top: 13px;
}

.soctitle{
margin-bottom: 17px;
}


.contactformtitle{
margin-bottom: 40px;
}


		/* contacts form */

.name{
background-color: transparent;
border: 0px solid transparent;
box-shadow: none;
border-bottom: 2px solid #DEE0E5;
width: 264px;
}


input:active, :hover, :focus {
    outline: 0;
    outline-offset: 0;
}



.formbut{
display: flex;
justify-content: flex-end;
}

.names{
	position: relative;
float: left;
margin-right: 0px;
}

.email{
	position: relative;
float: right;
margin-right: 0px;
margin-top: -24px;
}

.messege{
	width: 555px;
	height: 180px;
	margin-top: 14px;
}

.buttonform{
	width: 122px;
	height: 34px;
	margin-top: 14px;
	margin-bottom: 0px;
	border: 0px solid transparent;
	color: #F7F9FF;
	background-color: #9FA7B1;
}

.buttonform:active, :hover, :focus {
    outline: 0;
    outline-offset: 0;
}

.buttonform:hover{
cursor: pointer;
background-color: #18C99D;
}


		/* END contacts form*/

			/* END contacts */



			/* footer */

.footer{
height: 455px;
width: 100%;
background-color: #02152E;
color: #fff;
display: flex;
justify-content: center;

}


.logofoot{
display: flex;
justify-content: center;
width: 100%;
position: absolute;
margin-top: 90px;

}

.footmenu ul{
display: flex;
justify-content: space-between;
margin-top: 220px;
height: 50px;
width: 800px;
}

.footmenu{
	display: flex;
	justify-content: center;
	width: 100%;

}


.footmenu ul li{
	display: inline-block;
}

.footmenu ul li a:hover{
	cursor: pointer;
	color: #00CA9C;
	text-decoration: none;
}

.footmenu ul li a:hover:after{
content: "";
position: absolute;
height: 3px;
width: 100%;
margin-top: 34px;
background-color: #00CA9C;
z-index: -1;
margin-left: -100%;
}

.footmenu ul li a::selection {
background: transparent; /* Safari */
}	


.footmenu ul li a{
		color: #fff;
		position: relative;
		z-index: 2;
}


nav ul li a:hover{
	cursor: pointer;
}


nav ul li a::selection {
background: transparent; /* Safari */
}	

.coopyright{
width: 80%;
min-width: 1200px;
max-width: 1800px;
height: 70px;
margin: 0 auto;
margin-top: 320px;
position: absolute;
display: flex;
justify-content: space-between;

}	

.coopyrightcenter{
position: absolute;
margin-left: 50%;
}	


.clickup{
display: flex;
justify-content: center;
align-items: center;
width: 35px;
height: 35px;
border: 2px solid #B4BBC4;
color: #00CA9C;
}	

.clickup:hover{
border: 2px solid #00CA9C;
color: #B4BBC4;

}	

.coopyrightcenter a:hover{
text-decoration: none;
}	


.coopyrightright a:hover{
text-decoration: none;
color: #00CA9C;
}	

.coopyright a{
color: #fff;
}	


.coopyrightright a{
margin-left: 30px;
font-size: 15px;
}	

.coopyrightleft, .coopyrightright{
margin-top: 20px;
}	

.coopyrightleft{
font-size: 14px;
}	

.coopyrightleft a:hover{
text-decoration: none;
color: #fff;
}	

.wensa{
font-size: 11px;
}	

.wensa:hover
	.wens{
color: #00CA9C;
cursor: pointer !important;
}	

.coopyright a::selection{ 
background-color: transparent;
cursor: pointer;

}



			/* END footer */



@media (max-width: 1000px) {

.whyweleft{
	width: 100%;
	float: none;
	min-width: 100px;
	padding-left: 0px;
	position: absolute;
	justify-content: center;
	display: flex;
	margin-bottom: 0px;
	min-height: 600px;
	margin-top: -375px;
}	



.whyweright{
	width: 100%;
	float: none;
	position: relative;
	float: none;
	display: block;
		width: 100%;
		min-width: 400px;
		margin: auto;
		margin-bottom: 75px;
		margin-top: 625px;
}	

.projectdevelopment{
flex-direction: column-reverse;
align-items: flex-start;
}	

.projectdevelopmentleft{
	min-height: 600px;
	width: 100%;
	margin-left: 0;
	justify-content: center;
	padding-left: 100px;
	top: 0;
	margin-top: 0px;
	float: none;


}

.tabsbg{ 
	display: none;
}

.tabblock{ 
width: 90%;
margin-left: 5%;
background-color: transparent;
margin-top: 70px;
margin-bottom: 50px;
}

.projectdevelopmentright{

	min-height: 650px;
	width: 100%;
	padding-left: 0px;
	padding-top: 100px;
	right: 0;
	float: none;
	justify-content: center;
	position: relative;


}


/* GALLERY */


.grid {
display: grid;
grid-template-columns: 1fr 1fr 1fr;
}

/* Common style */

.nodispl{
display: none;
}


.contactsleft{
width: 100%;
float: none;
margin: 0 auto;
}

.contactsright{
width: 100%;
float: none;
margin: 0 auto;
margin-top: 270px;
}

.name{
width: 350px;
margin-right: 0px;
margin-left: 0px;
left: 0;
}


.email{
margin-right: 400px;
}


.messege{
	width: 750px;
	height: 180px;
	margin-top: 14px;
}

.formbut{
justify-content: flex-start;
padding-left: 600px;
}


iframe{
width: 100%;
 height: 175px;
 margin-bottom: 25px;
}


.adress{
margin-left: 25px;
}

.contein{
	width: 100%;
	min-width: 400px;
	margin: 0 auto;
}

.howwework{
width: 100%;
min-width: 400px;
margin: 0 auto;


}

.howweworkleft
{
width: 100%;
margin: 0 auto;
margin-top: 50px;
display: block;
margin-left: 25%;
}

.howweworkright
{
text-align: center;
margin-bottom: 75px;
}



.projectdevelopmentright{

	width: 100%;
	min-width: 400px;


}

.reviews{


background-color: transparent;
margin: 0 auto;
width: 100%;
min-width: 400px;

}


.review{
margin: 0 auto;
margin-bottom: 150px;
margin-top: 175px;
width: 100%;
min-width: 400px;
background-color: transparent;
}


.coopyright{
width: 100%;
min-width: 400px;


}	

.coopyrightleft, .coopyrightright{
margin-top: 60px;
}	

.advantag{

	padding-left: 32px;
	padding-right: 25px;


}


	}


html{
position: relative;
overflow-x: hidden; 
}


@media (max-width: 767px) {

.whyweleft{
background-color: black;

}	

.howweworkleft
{
margin-left: 0;
}



.grid {
display: grid;
grid-template-columns: 1fr;

}


.vasyok{
display: none;

}






}

html{
	background-color: yellow;
	overflow-x: hidden;
}

body{
	background-color: red;
		overflow-x: hidden;
}
