.news_body{
  background-color: #F6F6F6;
  padding-top: 70px;
  padding-bottom: 90px;
}



.banner_fullartefakt {
  background-image: url(../images/fullartefakt/1.jpg);
  background-opacity: 0;
  background-color: #000000;
  background-position: center;
  background-repeat: no-repeat;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
  width: 100%;
  height: auto;
  min-height: 650px;
  max-height: 400px;
  padding-top: 160px;


}


.catalog_fullartefakt{
position: relative;
width: 520px;
margin: 0 auto;
text-align: center;
margin-top: 70px;
}


.sub_tittle{
 color: #A7A7A7;
margin-top: 30px;
margin-bottom: 30px;
}

.sub_tittles{
  position: relative;
  float: left;

}

.sub_tittle_text{
   color: #A7A7A7;
    position: relative;
 float: right;
 margin-left: 10px;
 margin-right: 35px;
 font-size: 14px;
}

.news_b1_title{
  margin-top: 30px;
}

.sub_tittles_author{
  color: #FF2A8C;
}

.sub_tittles_author:hover{
  color: #FF4FA1;
}

.sub_tittles_author:focus{
  color: #EF1E76;
}




.catalog_category{
position: relative;
width: 135px;
margin: 0 auto;
margin-top: 35px;

}

