.news_body{
  background-color: #F6F6F6;
  padding-top: 70px;
  padding-bottom: 90px;
}



.banner_1 {
  background-image: url(../images/news/1.jpg);
  background-opacity: 0;
  background-color: #000000;
  background-position: center;
  background-repeat: no-repeat;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
  width: 100%;
  height: auto;
  min-height: 200px;
  max-height: 400px;
  padding-top: 160px;


}


.img_fullvews{
position: relative;
margin: 0 auto;
width: 100%;
height: auto;
}


.social_text{
margin-top: 40px;
}

.social_text_topline{
height: 1px;
  width: 100%;
  background-color: #E7E7E7;
  position: relative;
}

.social_fullnews{
color: #fff;
position: relative;
z-index: 10;
display: block;
}

.social_fullnews:after{
      content: "";
      position: relative;
      display: block;
      height: 50px;
      width: 50px;
      background-color: red;
      border-radius: 100%;
      z-index: -1;
      opacity: 1;
      margin-top: -32px;
      margin-left: -18px;
}

.social_fullnews1:after{
  background-color: #00B1FF;
}

.social_fullnews2:after{
  background-color: #4875FF;
}

.social_fullnews3:after{
  background-color: #FF477E;
}


.social_fullnews1:hover:after{
 opacity: 0.9;
}

.social_fullnews2:hover:after{
 opacity: 0.9;
}

.social_fullnews3:hover:after{
  opacity: 0.9;
}

.socials_fullnews1{
 position: relative;
height: 117px;
  width: 100%;
 
}

.socials_fullnewss1{
 position: relative;
 width: 258px;
margin: 0 auto;


}



.socials_fullnews1:before{
      content: "";
 position: relative;
 display: block;
 left: 0;
 top: 0;
 height: 1px;
  width: 100%;
  background-color: #E7E7E7;
  margin-bottom: 25px;

}


.socials_fullnews1:after{
      content: "";
 position: absolute;
 display: block;
 left: 0;
 margin-top: 90px;
 height: 1px;
  width: 100%;
  background-color: #E7E7E7;

}






.social_text_botline{
height: 1px;
  width: 100%;
  background-color: #E7E7E7;

  position: absolute;

}



.sub_tittle{
 color: #A7A7A7;
margin-top: 30px;
margin-bottom: 30px;
}

.sub_tittles{
  position: relative;
  float: left;

}

.sub_tittle_text{
   color: #A7A7A7;
    position: relative;
 float: right;
 margin-left: 10px;
 margin-right: 35px;
 font-size: 14px;
}

.news_b1_title{
  margin-top: 30px;
}

.sub_tittles_author{
  color: #FF2A8C;
}

.sub_tittles_author:hover{
  color: #FF4FA1;
}

.sub_tittles_author:focus{
  color: #EF1E76;
}