.news_body{
  background-color: #F6F6F6;
  padding-top: 70px;
  padding-bottom: 90px;
}



.banner_1 {
  background-image: url(../images/news/1.jpg);
  background-opacity: 0;
  background-color: #000000;
  background-position: center;
  background-repeat: no-repeat;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
  width: 100%;
  height: auto;
  min-height: 200px;
  max-height: 400px;
  padding-top: 160px;


}


.banner_2 {
  background-image: url(../images/news/2.jpg);
  background-opacity: 0;
  background-color: #000000;
  background-position: center;
  background-repeat: no-repeat;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
  width: 100%;
  height: auto;
  min-height: 200px;
  max-height: 400px;
  padding-top: 160px;
  margin-top: 60px; 


}


.banner_3 {
  background-image: url(../images/news/3.jpg);
  background-opacity: 0;
  background-color: #000000;
  background-position: center;
  background-repeat: no-repeat;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
  width: 100%;
  height: auto;
  min-height: 200px;
  max-height: 400px;
  padding-top: 160px;
  margin-top: 60px; 


}

.banner_4 {
  background-image: url(../images/news/4.jpg);
  background-opacity: 0;
  background-color: #000000;
  background-position: center;
  background-repeat: no-repeat;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
  width: 100%;
  height: auto;
  min-height: 200px;
  max-height: 400px;
  padding-top: 160px;
  margin-top: 60px; 


}

.banner_5 {
  background-image: url(../images/news/5.jpg);
  background-opacity: 0;
  background-color: #000000;
  background-position: center;
  background-repeat: no-repeat;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
  width: 100%;
  height: auto;
  min-height: 200px;
  max-height: 400px;
  padding-top: 160px;
  margin-top: 60px; 


}

.sub_tittle{
 color: #A7A7A7;
margin-top: 30px;
margin-bottom: 30px;
}

.sub_tittles{
  position: relative;
  float: left;

}

.sub_tittle_text{
   color: #A7A7A7;
    position: relative;
 float: right;
 margin-left: 10px;
 margin-right: 35px;
 font-size: 14px;
}

.news_b1_title{
  margin-top: 30px;
}

.sub_tittles_author{
  color: #FF2A8C;
  position: relative;
  float: right;
  margin-left: 10px;
}

.sub_tittles_author:hover{
  color: #FF4FA1;
}

.sub_tittles_author:focus{
  color: #EF1E76;
}