

.sidebar_content{
	width: 80%;
	margin: 0 auto;
}

.first_bar{
	border: 1px solid #E7E7E7;
	width: 90%;
	position: relative;
	float: right;
	padding-top: 40px;
	padding-bottom: 25px;
}

.first_bar_mar{
	margin-top: 55px;
}


.first_bar_title{
	font-size: 24px;
	margin-bottom: 32px;

}


.pop_news_time{
	color: #FF2A8C;
		font-size: 16px;

}

.pop_news_title{
	font-size: 16px;
	color: #000;
}

.hr{
	background-color: #E7E7E7;
	width: 95%;
	margin: 0 auto;
	height: 1px;
	margin-bottom: 28px;
	position: relative;
	margin-top: 20px;
}


.sidebar_tegs{
	color: #fff;
	font-size: 16px;
	position: relative;
	z-index: 10;
	float: left;
	margin-right: 14%;
	margin-bottom: 25px;

}


.sidebar_tegs:hover{
	color: #fff;

}

.sidebar_tegs:focus{
	color: #fff;

}



.sidebar_tegs::before{
	content: "";
	position: absolute;
	z-index: -1;
	display: block;
	background-color: #FF2A8C;
	width: 150%;
	height: 150%;
	margin-top: -9%;
	margin-left: -25%;
	border-radius: 250px;
}

.sidebar_tegs:hover::before{
	color: #fff;
	background-color: #FF4FA1;

}

.sidebar_tegs:focus::before{
	color: #fff;
	background-color: #EF1E76;

}
