.news_body{
  background-color: #F6F6F6;
  padding-top: 70px;
  padding-bottom: 90px;
}


.video_time{
  font-size: 12px;
  color: #FF2A8C;
  margin-top: 10px;
  margin-bottom: 10px;
}

.sub_tittle_text{
   color: #A7A7A7;
    position: relative;
 margin-left: 10px;
 margin-right: 35px;
 font-size: 14px;
}



.sub_tittles_author{
  color: #FF2A8C;
}


.sub_tittles_author:hover{
  color: #FF4FA1;
}

.sub_tittles_author:focus{
  color: #EF1E76;
}

.vido_title{
  font-size: 22px;
  margin-bottom: 10px;
}


.banner_01{

  overflow: hidden;
}

.video_img{
  width: 100%;
  height: auto;
}

.author_icon{
  position: relative;
  float: left;
    color: #A7A7A7;
}


.author_video_name{
  position: relative;
  float: left;
}

.video_mbot{
  margin-bottom: 45px;
}

.last_programms{
  margin-top: 75px;
}